/* .example-card {
  max-width: 400px;
  margin-bottom: 8px;
} */

* {
  margin: 0;
  font-family: "Lato", sans-serif;
}

.card {
  margin: 24px 0;
  width: 360px;
  height: 120px;
  border-radius: 8px;
  padding: 12px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 8px 16px;
  position: relative;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.city {
  font-size: 1.5rem;
  font-weight: 700;
}

.temp {
  font-size: 2rem;
  font-weight: 700;
}

.icon {
  width: 100px;
}
.close-x {
  color: black;
  font-size: 16px;
  font-weight: 700;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.card:last-child {
  border: none;
}

.drop-area.cdk-drop-list-dragging.card:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
